.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 125px;
  max-width: 1180px;
  margin: 0 auto;
  padding: 120px 10px 125px;
}

.about-page h3 {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}

.about-page__terminal-icon {
  margin-top: 8px;
}

.about-page__header {
  display: flex;
  gap: 18px;
}

.about-page__section {
  display: flex;
  flex-direction: column;
  gap: 51px;
  scroll-margin: 120px;
}

.about-page__education-info,
.about-page__skills-info,
.about-page__projects-info,
.about-page__volunteering-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about-page__experience-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-page__research-info,
.about-page__rewards-info,
.about-page__certifications-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 1280px) {
  .about-page {
    max-width: 960px;
  }
}

@media only screen and (max-width: 1024px) {
  .about-page {
    padding: 120px 60px;
  }
}


@media only screen and (max-width: 768px) {
  .about-page h3 {
    font-size: 36px;
  }

  .about-page {
    gap: 40px;
    padding: 80px 25px;
  }

  .about-page__section {
    gap: 10px;
    scroll-margin: 80px;
  }
}

@media only screen and (max-width: 576px) {
  .about-page h3 {
    font-size: 32px;
  }

  .about-page {
    gap: 40px;
    padding: 60px 10px;
  }

  .about-page__section {
    gap: 15px;
    scroll-margin: 60px;
  }

  .about-page__education-info,
  .about-page__skills-info,
  .about-page__projects-info,
  .about-page__volunteering-info {
    gap: 14px;
  }

  .about-page__experience-info {
    gap: 20px;
  }

  .about-page__research-info,
  .about-page__rewards-info,
  .about-page__certifications-info {
    gap: 10px;
  }

  .about-page__terminal-icon {
    margin-top: 7px;
  }
}