.education-info {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: var(--text-secondary);
}

.education-info__uni-and-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.education-info__university {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: var(--text-primary);
}

.education-info__date {
    text-align: end;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: var(--text-secondary);
}

.education-info__degree {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: var(--text-primary);
}

@media only screen and (max-width: 768px) {

    .education-info,
    .education-info__degree {
        font-size: 18px;
    }

    .education-info__uni-and-date {
        margin-bottom: 4px;
    }

    .education-info__university,
    .education-info__date {
        font-size: 20px;
    }
}

@media only screen and (max-width: 576px) {

    .education-info,
    .education-info__degree {
        font-size: 16px;
    }

    .education-info__uni-and-date {
        margin-bottom: 4px;
    }

    .education-info__university,
    .education-info__date {
        font-size: 18px;
    }
}