:root {
  font-family: 'IBM Plex Mono';


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root.light {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0%, rgba(80, 86, 205, 0.01) 38.1%, rgba(150, 82, 228, 0.06) 70.1%, rgba(195, 80, 242, 0.1) 100%);
}

#root.dark {
  background: linear-gradient(98deg, #000 22%, #23336d 67%, #4a398a 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow-x: hidden;
  /* padding-top: 50px; */
}

.home-page__window {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 125px;
  max-width: 1180px;
  margin: 0 auto;
  padding: 120px 10px 125px;
}

.about-page h3 {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}

.about-page__terminal-icon {
  margin-top: 8px;
}

.about-page__header {
  display: flex;
  gap: 18px;
}

.about-page__section {
  display: flex;
  flex-direction: column;
  gap: 51px;
  scroll-margin: 90px;
}

.about-page__education-info,
.about-page__skills-info,
.about-page__projects-info,
.about-page__volunteering-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about-page__experience-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-page__research-info,
.about-page__rewards-info,
.about-page__certifications-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 1280px) {
  .about-page {
    max-width: 960px;
  }

  .about-page__section {
    scroll-margin: 80px;
  }
}

@media only screen and (max-width: 1024px) {
  .about-page {
    padding: 120px 60px;
  }

  .about-page__section {
    scroll-margin: 60px;
  }
}


@media only screen and (max-width: 768px) {
  .home-page__window {
    padding-top: 100px;
  }

  .about-page h3 {
    font-size: 36px;
  }

  .about-page {
    gap: 40px;
    padding: 80px 25px;
  }

  .about-page__section {
    gap: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .about-page h3 {
    font-size: 32px;
  }

  .about-page {
    gap: 40px;
    padding: 60px 10px;
  }

  .about-page__section {
    gap: 15px;
  }

  .about-page__education-info,
  .about-page__skills-info,
  .about-page__projects-info,
  .about-page__volunteering-info {
    gap: 14px;
  }

  .about-page__experience-info {
    gap: 20px;
  }

  .about-page__research-info,
  .about-page__rewards-info,
  .about-page__certifications-info {
    gap: 10px;
  }

  .about-page__terminal-icon {
    margin-top: 7px;
  }
}