#root {
  font-family: 'IBM Plex Mono';

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.home-page__window {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}