.home-page__window {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .home-page__window {
    padding-top: 100px;
  }
}