.research-info__ongoing {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.02em;
}

.research-info__research-link {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.02em;
    text-decoration-skip-ink: none;
    color: var(--text-primary);
}

.research-info__research {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.02em;
}

@media only screen and (max-width: 768px) {

    .research-info__ongoing,
    .research-info__research-link,
    .research-info__research {
        font-size: 20px;
    }
}

@media only screen and (max-width: 576px) {

    .research-info__ongoing,
    .research-info__research-link,
    .research-info__research {
        font-size: 18px;
    }
}