.experience-info__general {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.experience-info__position {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.02em;
}

.experience-info__dates {
    text-align: end;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: var(--text-secondary);
}

.experience-info__location {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    margin: 13px 0 18px;
}

.experience-info__contributions {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.experience-info__icon {
    margin-top: 3px;
}

.experience-info__contribution {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: var(--text-secondary);
}

@media only screen and (max-width: 768px) {
    .experience-info__general {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .experience-info__position,
    .experience-info__dates {
        font-size: 20px;
    }

    .experience-info__location {
        font-size: 18px;
        margin: 6px 0 10px;
    }

    .experience-info__contributions {
        gap: 7px;
    }

    .experience-info__icon {
        margin-top: 4px;
    }

    .experience-info__contribution {
        gap: 10px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 576px) {

    .experience-info__position,
    .experience-info__dates {
        font-size: 18px;
    }

    .experience-info__location {
        font-size: 16px;
        margin: 5px 0 9px;
    }

    .experience-info__icon {
        margin-top: 3px;
    }

    .experience-info__contribution {
        gap: 8px;
        font-size: 16px;
    }
}