.header {
    position: fixed;
    top: 0;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--bg-navbar);
    padding: 12px 148px;
}

.header__section {
    margin-right: 35px;
    color: #ffffff;
    text-decoration: none;
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-color);
    border-radius: 100px;
    width: 36px;
    height: 36px;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}