#root {
  --bg-primary-light: #F6F6F6;
  --bg-primary-dark: #1d1d1d;

  --bg-navbar-light: #6E3CA2;
  --bg-navbar-dark: #2B1E57;

  --border-primary-light: #000000;
  --border-primary-dark: #7a7a7a;

  --button-color-light: #8c5ac1;
  --button-color-dark: #6450a8;

  --text-primary-light: #000000;
  --text-primary-dark: #ffffff;
  --text-secondary-light: #4B4B4B;
  --text-secondary-dark: #D7D7D7;
}

.light {
  --bg-primary: var(--bg-primary-light);
  --bg-navbar: var(--bg-navbar-light);
  --button-color: var(--button-color-light);
  --text-primary: var(--text-primary-light);
  --border-primary: var(--border-primary-light);
  --text-secondary: var(--text-secondary-light);
}

.dark {
  --bg-primary: var(--bg-primary-dark);
  --bg-navbar: var(--bg-navbar-dark);
  --button-color: var(--button-color-dark);
  --text-primary: var(--text-primary-dark);
  --border-primary: var(--border-primary-dark);
  --text-secondary: var(--text-secondary-dark)
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  color: var(--text-primary);
}